@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
// .card {
//     background: rgb(255, 255, 255);
//     box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
//     // height: 8%;
//     padding:15px;
//     .image_box {
        
//         img {
//             width: 100px;
//             height: 70px;
//             // position: absolute;
//             // padding-left: 70px;
//             // margin-left: 160px;
//         }
//     }
//     .dropdown {
//         text-align: right;
//         // margin-top: 26px;
//         #PaymentSecurity {
//             padding: 10px;
//             border-radius: 5px;
//             font-weight: 700;
//         }
//     }
// }












header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    .logo{
        img{
            width: 150px;
            height: 80px;
        }
    }

    .dropdown {
        text-align: right;
        // margin-top: 26px;
        #PaymentSecurity {
            padding: 10px;
            border-radius: 5px;
            font-weight: 700;
        }
    }

    }
.container {
    padding: 50px 20px;
    h3 {
        color: #e21224;
        font-family: "Poppins", sans-serif;
        font-weight: 1000;
    }

    .para {
        padding-top: 20px;
        padding-right: 0px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
    }

    .image-box {
        width: 70%;
        height: 90%;
        #image {
            padding-top: 150px;
            width: 90%;
            padding-left: 70px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 975px) {
    #PaymentSecurity {
        margin-left: 200px;
    }
 
    #rev {
        flex-direction: column-reverse;
    }

    h3{
        display: none;
    }

    .para {
        line-height: 20px;
        letter-spacing: 0em;
    }
   
        #image {
            padding-left: 80px;
            margin-left: 77px;
            margin-top: -118px;
        }
    .para{
        align-items: center;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 578)
{
    
}




















    

// section.body_section_container{
//     width: 100%;
//     min-height: 30vh;
//     display: grid;
//     justify-content: center;
//     align-items: center;
//     padding: 60px 40px;
//     .body_section{
//         display: grid;
//         grid-template-columns: 50% 50%;
//     }
//     .container_image_div{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }